<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-style: italic;">Listing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink = "/admin/pessoas">Pessoas</button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink = "/admin/carros">Carros</button>
          </li>
          <li class="nav-item">
           <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink = "/admin/livros">Livros</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
    nav button:hover {
      text-decoration: underline;
      transition: 0.4s;
      color: rgba(0, 0, 0, 0.452);
    }
  </style>
