@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pixelify+Sans:wght@400;500;600;700&family=Rubik:wght@300&display=swap");

/* BASIC */

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
body {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #287261;
  box-shadow: 0px 3px 10px #464646;
}

header h1 {
  margin-left: 8px;
  color: white;
}

// Ajuste titulo

.ajustarTitulo {
  margin-top: 7%;
  margin-right: 60%;
  text-shadow: 2px 1px rgb(191, 188, 188);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-right: 60%;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 400px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: bold;
}

.perfil button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;

  display: flex;
  justify-content: center;

  background: none;
}

.perfil button a {
  text-decoration: none;
  font-size: 500;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.menu-profile {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .perfil {
    display: none;
    text-decoration: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    text-decoration: none;
    margin-top: 20px;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .perfil {
    display: block;
    padding: 1rem 2rem;

    font-family: "Rubik";
    text-decoration: none;
    font-weight: 500;
  }

  .mobile-menu .perfil button {
    display: block;
    padding: 1rem 2rem;

    font-family: "Rubik";
    text-decoration: none;
  }

  .mobile-menu .perfil :no-button {
    display: block;
    padding: 1rem 2rem;

    background: none;
    color: white;
    width: 100%;

    text-decoration: none;
  }

  .open {
    display: block;
  }
}
