
<h1>Sistema de cadastro e listagem</h1>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" [(ngModel)] = "usuario.login" class="form-control" placeholder="Login" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="password" [(ngModel)] = "usuario.senha" class="form-control" placeholder="Senha" aria-label="Username" aria-describedby="basic-addon1">
</div>
<button type="button" class="btn btn-success" (click) = "logar()">Entrar</button>


<style>

    h1 {
      display: flex;
      justify-content: center;
    }

    .input-group{
      width: 25%;
      margin-left: 580px;
      padding-top: 20px;
      border-radius: 20px;
    }

    .btn {
      margin-left: 675px;
      border-radius: 20px;
      width: 200px;
      margin-top: 20px;
    }
</style>