<html>
    <div class="fundo wrapper">
            <div id="formContent">
                
                <div class="metadeDoLogin">
                    <img class="ajusteImagem" src="https://www5.pmfi.pr.gov.br/images/logo.png">
                    <a class="ajusteTituloMetade">Login - Centro de Convivência Afra Roth</a>
                </div>
                <div class="ajustePrincipal">
        
                <!-- Titulo do Login -->
                <div class="ajusteTitulo">
                    <p>Bem-vindo(a)!</p>
                </div>

                <div class="ajusteSubtitulo">
                    <p>Efetue o login!</p>
                </div>
                
                <!-- Login Form -->
                <form>
                    <div class="ajusteCaixa">
                        <input type="text" 
                        [(ngModel)]="loginC.email" id="login" class="fadeIn second" name="login" placeholder="Digite seu e-mail...">
                    </div>
                    <div class="ajusteCaixa">
                        <input [(ngModel)]="loginC.senha" type="password" id="password" class="fadeIn third" name="login" placeholder="Digite sua senha...">
                    </div>
                    <div class="ajustePerdi">
                        <input (click)="login()" type="submit" class="fadeIn fourth" value="Log In">
                    </div>
            
                </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" routerLink="recuperar">Esqueceu a senha?</a>
            </div>
            </div>
            </div>
        </div>
    </html>