<div class="wrapper fadeInDown fundo">
    <div id="formContent">
        
        <div class="metadeDoLogin">
            <img class="ajusteImagem" src="https://www5.pmfi.pr.gov.br/images/logo.png">
            <a class="ajusteTituloMetade">Troca de senha - Centro de Convivência Afra Roth</a>
        </div>
        <div class="ajustePrincipal">

        <!-- Titulo do Login -->
        <div class="ajusteTitulo">
            <p>Recuperar conta</p>
        </div>

        <div class="ajusteSubtitulo">
            <p>Digite sua nova senha abaixo!</p>
        </div>
        
        <!-- Login Form -->
        <form>
            <div class="ajusteCaixa">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Digite sua nova senha...">
            </div>
            <div class="ajusteCaixa">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Repita sua nova senha...">
            </div>
            <div class="ajustePerdi">
                <input type="submit" class="fadeIn fourth" value="Trocar senha">
            </div>
    
        </form>
        
    </div>
    </div>
</div>
