<div class="wrapper fadeInDown fundo">
    <div id="formContent">
        
        <div class="metadeDoLogin">
            <img class="ajusteImagem" src="https://www5.pmfi.pr.gov.br/images/logo.png">
            <a class="ajusteTituloMetade">Recuperar conta - Centro de Convivência Afra Roth</a>
        </div>
        <div class="ajustePrincipal">

        <!-- Titulo do Login -->
        <div class="ajusteTitulo">
            <p>Recuperar Conta</p>
        </div>

        <div class="ajusteSubtitulo">
            <p>Digite seu email para nós enviarmos um link contendo a alteração dos dados de sua conta!</p>
        </div>
        
        <!-- Login Form -->
        <form>
            <div class="ajusteCaixa">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Digite seu email...">
            </div>
            <div class="ajustePerdi">
                <input type="submit" class="fadeIn fourth" value="Recuperar">
            </div>
        </form>
    </div>
    </div>
</div>
