form {
  margin: 0 auto;
  margin-left: 2vw;
}
.dta {
  margin-left: 10vw;
}
.description {
  width: 53.3vw;
}
.header h1 {
  margin-top: 5vh;
  font-weight: bold;
  margin-left: 2vw;
  margin-bottom: 5vh;
}
.btnPdf {
  margin-left: 20px;
}
.btns {
  margin-left: 1.9vw;
  margin-bottom: 3vh;
}
.tb {
  margin-top: 4vh;
  border: 1px solid rgba(0, 0, 0, 0.422);
}
.thBtn {
  margin-left: 20px;
}
