body {
    background: #eee;
  }
  
  .icons i {
    color: #b5b3b3;
    border: 1px solid #b5b3b3;
    padding: 6px;
    margin-left: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mt-3 {
    width: 100%;
  }
  
  .activity-done {
    font-weight: 600;
  }
  
  .list-group li {
    margin-bottom: 12px;
  }
  
  .list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff;
  }
  
  .checkicon {
    color: green;
    font-size: 19px;
  }
  
  .date-time {
    font-size: 12px;
  }
  
  .profile-image {
    padding: 20px;
  }
  
  #lixo {
    color: rgba(255, 0, 0, 0.808);
    padding: 20px;
    cursor: pointer;
  }
  
  .ml-2 {
    margin-left: 2px;
  }
  
  .ml-3 {
    margin-left: 20px;
  }
  
  .mt-3 {
    border-radius: 20px;
  }
  
  #campoPesquisa {
    box-shadow: 3px 3px 3px #888888;
  }
  
  #addAtividade {
    box-shadow: 3px 3px 3px #888888;
    font-weight: bold;
  }
  
  #cancelado {
    margin-left: 10px;
    color: red;
    padding: 10px;
    cursor: pointer;
  }
  
  #cards {
    border-radius: 8px;
    box-shadow: 3px 3px 3px #888888;
  }
  
  #concluido {
    color: green;
    cursor: pointer;
  }
  
  #lapis {
    color: orange;
    cursor: pointer;
  }
  
  #campoPesquisa {
    border: 1px solid rgba(0, 0, 0, 0.575);
  }
  
  #addAtividade {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #titulo {
    font-weight: bold;
  }
  
  #search-addon {
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
  }
  